<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="dev %-5level %d{DATE} [%t] %logger{36}.%M - %msg%n" />
		</Console>
	</Appenders>


	<Loggers>


		<Logger name="com.hedgecourt.log4tri.jsf" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="com.hedgecourt.log4tri.service" level="debug" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>

		<Logger name="com.hedgecourt.log4tri.dao" level="debug" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>

		<Logger name="com.hedgecourt" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>

	</Loggers>
</Configuration>