<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Log 4 Triathlon</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>log4triStartupServlet</servlet-name>
		<servlet-class>com.hedgecourt.log4tri.web.jsf.LftStartupServlet</servlet-class>
		
		<init-param>
			<param-name>application.name</param-name>
			<param-value>log4tri</param-value>
		</init-param>
		
		<init-param>
			<param-name>module.name</param-name>
			<param-value>webapp</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>		
	</servlet>



</web-app>